# Day 5

## While Loops

In [2]:
i=1
while i<= 5:
    print(i)
    i+=1
print("Done")

1
2
3
4
5
Done

In [3]:
num=28

In [4]:
str(num)

'28'

In [5]:
num1=18

In [6]:
str(num1)

'18'

In [8]:
help1=input(">")

while help1.lower()=="help":
    print("start:To start the car")
    print("stop: To stop the car")
    var=input(":")
    if var.lower()=="start":
        print("car started")
        break
    elif var.lower()=="stop":
        print("car stoped")
        break
    else:
        print("invalid input,please try again")
else:
    print("invalid I/p,please try again")

> help

start:To start the car
stop: To stop the car

: stop

car stoped
start:To start the car
stop: To stop the car

: stop

car stoped
start:To start the car
stop: To stop the car

: start

car started

In [22]:
#password attempts
correct=7
attempts=0
while attempts <3:
    guess =int(input("Guess:"))
    attempts+=1
    if guess==correct:
        print("Access granted")
        break
    else:
        print(f"{3-attempts} tries left")
else:
        print("you have exhasuted the number of  attempts")

Guess: 4

2 tries left

Guess: 5

1 tries left

Guess: 7

Access granted

# Functions

In [23]:
print("Hi there")
print("Welcome aboard")

Hi there
Welcome aboard

In [24]:
def greet_user():
    print("Hi there")
    print("Welcome aboard")

In [25]:
print("start")
greet_user()
print("stop")

start
Hi there
Welcome aboard
stop

In [30]:
def greet_user(name):   #parameter
    print("Hi",name)
    print("Welcome aboard")

In [34]:
greet_user("Basavaraj")  #Arguments

Hi Basavaraj
Welcome aboard

In [39]:
def greet_user(f_name,l_name):   #parameter
    print("Hi",f_name,l_name)
    print("Welcome  to aboard")

In [41]:
fname=input("Enter your first name: ")
lname=input("Enter your last name: ")
greet_user(fname,lname)  #Arguments

Enter your first name:  Basavaraj
Enter your last name:  Khot

Hi Basavaraj Khot
Welcome  to aboard

In [43]:
def print_date(d,m,y):
    print("Today date is ")
    print(d,m,y,sep="-")

In [44]:
print_date(12,"nov",2021)

Today date is
12-nov-2021

In [45]:
def print_d(id,name="NA",price="NA"):  #default value  for parameters
    print("ID is : ",id)
    print("Name is : ",name)
    print("price is : ",price)

In [46]:
print_d(123)

ID is :  123
Name is :  NA
price is :  NA

In [48]:
print_d(123,"Apple")

ID is :  123
Name is :  Apple
price is :  NA

In [49]:
def print_d(id,name="NA",price=200):  #default value  for parameters
    print("ID is : ",id)
    print("Name is : ",name)
    print("price is : ",price)

In [50]:
print_d(123,"Apple")

ID is :  123
Name is :  Apple
price is :  200

In [51]:
print_d(123,price=400)

ID is :  123
Name is :  NA
price is :  400

In [56]:
import math
math.factorial(2)

2

In [57]:
math.factorial(5)

120

In [58]:
math.gcd(8,7)

1

In [61]:
math.sin(0)

0.0

In [63]:
math.cos(0)

1.0

In [64]:
import tensorflow

In [65]:
import ros

ModuleNotFoundError: No module named 'ros'

In [66]:
import tally

ModuleNotFoundError: No module named 'tally'

In [68]:
import pandas

In [1]:
import time

In [5]:
for i in range(10):
    print(i)
    time.sleep(0.1)

0
1
2
3
4
5
6
7
8
9

In [6]:
import random

In [21]:
random.randint(50,100)

59

In [27]:
random.randrange(1,10,2)

5

In [30]:
members=["biden","putin","Basavanna","Kim","Xi"]

In [32]:
random.choice(members)

'Basavanna'