### Advanced Python Training at ZeOmega - Day 1

Feb 07-11, 2022<br>
09:30 AM - 01:00 PM

[Anand Chitipothu](https://pipal.in/trainers/anand)

These notes are available online at https://bit.ly/zeomega-py22

Â© Pipal Academy LLP

[Home](.) | **Day 1** | [Day 2](day2.html) | [Day 3](day3.html) | [Day 4](day4.html) | [Day 5](day5.html) 

[Download this notebook](day1.ipynb)

In [2]:
# this is code cell
1 + 2

3

This is text cell. 

You use `**bold**`, `*italic*` and \`code\`.

**bold**, *italic* and `code`

### Executing external command

In [3]:
!date

Mon Feb  7 10:12:39 IST 2022

In [4]:
!ls

Makefile       Untitled.ipynb day1.ipynb     index.ipynb    push
Untitled.html  day1.html      index.html     notes

In [5]:
!python --version

Python 3.10.2

The jupyter notebook/lab also allows us to create files right from here.

In [6]:
%%file hello.py
print("hello")

Writing hello.py

In [7]:
!cat hello.py

print("hello")

In [8]:
!python hello.py

hello

**Summary**
    
Jupyter lab can be used to:
    
1. run code in a cell
2. write text/markdown in a cell
3. run external commands
4. create files

## Datatypes

Python has integers.

In [10]:
1 + 2

3

In [13]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

Python has floating point numbers.

In [14]:
1.2 + 2.3

3.5

In [15]:
0.1 + 0.2

0.30000000000000004

Python has strings.

In [16]:
"hello"

'hello'

In [17]:
'hello'

'hello'

In [18]:
# concatenate two strings
"hello" + "world"

'helloworld'

In [19]:
"hello" * 5

'hellohellohellohellohello'

In [20]:
print("hello" * 4)
print("=" * 20)

hellohellohellohello
====================

Python also has support for multi-line strings.

In [22]:
message = """
Hello everyone,

Welcome to the python training!
"""

In [44]:
"""
a
b
c
"""

'\na\nb\nc\n'

In [23]:
message

'\nHello everyone,\n\nWelcome to the python training!\n'

In [24]:
print(message)

Hello everyone,

Welcome to the python training!

In [25]:
print("a\nb\nc")

a
b
c

In [27]:
print("a\tb\tc") # string with tabs
print("hello\tworld\tc") # string with tabs

a	b	c
hello	world	c

Python strings support unicode as well.

In [28]:
print("à°… à°† à°‡ à°ˆ") # Telugu
print("à²… à²† à²‡ à²ˆ") # Kannada
print("à®… à®† à®‡ à®ˆ") # Tamil
print("à´… à´† à´‡ à´ˆ") # Malayalam
print("à¤… à¤† à¤‡ à¤ˆ") # Hindi

à°… à°† à°‡ à°ˆ
à²… à²† à²‡ à²ˆ
à®… à®† à®‡ à®ˆ
à´… à´† à´‡ à´ˆ
à¤… à¤† à¤‡ à¤ˆ

We can also write these using the unicode code points.

In [29]:
print("\u0c05 \u0c06 \u0c07 \u0c08") # Telugu
print("\u0c85 \u0c86 \u0c87 \u0c88") # Kannada
print("\u0b85 \u0b86 \u0b87 \u0b88") # Tamil
print("\u0d05 \u0d06 \u0d07 \u0d08") # Malayalam
print("\u0905 \u0906 \u0907 \u0908") # Hindi

à°… à°† à°‡ à°ˆ
à²… à²† à²‡ à²ˆ
à®… à®† à®‡ à®ˆ
à´… à´† à´‡ à´ˆ
à¤… à¤† à¤‡ à¤ˆ

In [45]:
print("\U0001f638")

ðŸ˜¸

### Bytes

Python has a `bytes` data type to represent binary data.

bytes are written just like string with a `b` prefix.

In [30]:
data = b'abcd \x01\x02\x03\x04'

In [31]:
data

b'abcd \x01\x02\x03\x04'

In [32]:
len(data)

9

### Lists

Python has `list` type to represent a collection of values.

In [33]:
x = ['a', 'b', 'c']

In [34]:
x

['a', 'b', 'c']

In [35]:
x = ['a', 'b', 1, 2, ['p', 10]]

In [36]:
x

['a', 'b', 1, 2, ['p', 10]]

In [37]:
x = ['a', 'b', 'c']

In [38]:
x[0]

'a'

In [39]:
x[1]

'b'

In [40]:
x[2]

'c'

In [41]:
len(x)

3

### Dictionaries

Dictionaries are used to represent name-value pairs.

In [51]:
person = {
    "name": "Alice",
    "email": "alice@example.com",
    "phone": 1234,
    "verified": True
}

In [52]:
person

{'name': 'Alice',
 'email': 'alice@example.com',
 'phone': 1234,
 'verified': True}

In [53]:
person['name']

'Alice'

In [54]:
person['email']

'alice@example.com'

### Boolean Values

In [55]:
True

True

In [56]:
False

False

In [57]:
filesize = 100

In [58]:
filesize > 50

True

In [59]:
filesize > 200

False

### Other Datatypes

Python has a `None` datatype to represent nothing.

In [60]:
x = None

In [61]:
print(x)

None

In [62]:
x

Python has a tuple datatype to represent fixed-width records

In [63]:
point = (2, 3)

In [64]:
print(point)

(2, 3)

In [65]:
point[0]

2

In [66]:
point[1]

3

In [67]:
x, y = point

In [68]:
x

2

In [70]:
y

3

In [71]:
yellow = 255, 255, 0 # r, g, b

In [72]:
yellow

(255, 255, 0)

Python also has a `set` datatype. A set is an unordered collection of unique elements.

In [73]:
{1, 2, 3}

{1, 2, 3}

In [74]:
{1, 2, 3, 2, 1}

{1, 2, 3}

In [75]:
{3, 1, 2}

{1, 2, 3}

## Functions

Python has many built-in functions.

In [76]:
print("hello")

hello

In [77]:
len("hello")

5

In [78]:
type("hello")

str

You may have noticed that Python doesn't allow operations on incompatible data types.

In [79]:
1 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

If you want to add an integer to a string, you need to either convert the integer to a string or convert the string to an integer and then add.

In [80]:
1 + int('2')

3

In [82]:
str(1) + '2'

'12'

#### Example: Counting the number of digits in a number

How to count the number of digits in a number?

In [83]:
12345

12345

In [85]:
2 ** 100

1267650600228229401496703205376

In [89]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [90]:
n = 2 ** 1000

In [91]:
n

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [92]:
str(n)

'10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376'

In [93]:
len(str(n))

302

In [94]:
len(str(2 ** 10000))

3011

In [95]:
str = 1

In [96]:
str

1

In [98]:
del str

In [99]:
str

str

#### Writing Our Own Functions

In [100]:
def square(x):
    return x*x

In [101]:
square(4)

16

**Problem:** Write a cube function to compute cube of a number.

```
>>> cube(2)
8
>>> cube(3)
27
```

**Problem:** Write a function `count_digits` that takes a number as argument and returns the number of digits it has.

```
>>> count_digits(12345)
5
>>> count_digits(2**1000)
302
```

#### `print` vs. `return`

In [102]:
def square1(x):
    return x*x

def square2(x):
    print(x*x)

In [103]:
square1(4)

16

In [104]:
square2(4)

16

What is the difference between these two? Which one is better?

Can you suggest some code that works with one, but won't with the other.

Let's try to compute $x^2 + 1$.

In [105]:
square1(4) + 1

17

It is not possible to compute $x^2+1$ using `square2` because it is just printing the result of $x^2$, but not giving that value back to us to use in other computations.

### Functions are values too!

In [106]:
def square(x):
    return x*x

In [107]:
square(4)

16

In [108]:
square

In [109]:
f = square

In [110]:
f(4)

16

In [111]:
f

In [112]:
x = 40

In [113]:
y = x

In [114]:
y

40

In [116]:
def square(x):
    return x*x

# square = make-new-function...

In [118]:
def sum_of_squares(x, y):
    return square(x) + square(y)

In [119]:
sum_of_squares(3, 4)

25

What if we want to compute sum of cubes as well?

In [120]:
def cube(x):
    return x*x*x

def sum_of_cubes(x, y):
    return cube(x) + cube(y)

In [121]:
sum_of_cubes(3, 4)

91

Can generalize `sum_of_squares` and `sum_of_cubes` into a single function?

In [122]:
def sumof(f, x, y):
    return f(x) + f(y)

In [123]:
sumof(square, 3, 4)

25

In [124]:
sumof(cube, 3, 4)

91

In [125]:
sumof(len, "hello", "python")

11

In [126]:
sumof(abs, 4, -10)

14

The feature of passing functions as arguments is so useful that many built-in functions support that.

In [127]:
max(3, 4)

4

In [128]:
max([3, 5, 4])

5

In [129]:
max(['one', 'two', 'three', 'four', 'five'])

'two'

How to find the longest word?

In [130]:
max(['one', 'two', 'three', 'four', 'five'], key=len)

'three'

In [131]:
def mylen(word):
    print("mylen", word)
    return len(word)

In [132]:
max(['one', 'two', 'three', 'four', 'five'], key=mylen)

mylen one
mylen two
mylen three
mylen four
mylen five

'three'

In [134]:
# records of students with marks
records = [
    ("A", 78),
    ("B", 91),
    ("C", 56)
]

How to find the student who got the maximum marks?

In [136]:
def get_marks(record):
    return record[1]

max(records, key=get_marks)

('B', 91)

In [137]:
max(records, key=get_marks)[0]

'B'

Let's look at another example.

In [139]:
h1 = {"name": "web-0", "type": "web", "loadavg": 67}
h2 = {"name": "web-1", "type": "web", "loadavg": 78}
h3 = {"name": "db-0", "type": "dv", "loadavg": 42}

In [140]:
hosts = [h1, h2, h3]

In [141]:
hosts

[{'name': 'web-0', 'type': 'web', 'loadavg': 67},
 {'name': 'web-1', 'type': 'web', 'loadavg': 78},
 {'name': 'db-0', 'type': 'dv', 'loadavg': 42}]

Which of these hosts is most heavily loaded?

In [143]:
def get_loadavg(host):
    return host['loadavg']

max(hosts, key=get_loadavg)

{'name': 'web-1', 'type': 'web', 'loadavg': 78}

In [144]:
max(hosts, key=get_loadavg)['name']

'web-1'

### Methods

In [145]:
x = "Hello"

In [146]:
x.upper()

'HELLO'

`upper` is a method available to all strings.

In [147]:
y = 1

In [148]:
# this doesn't work as int don't support upper method
y.upper()

AttributeError: 'int' object has no attribute 'upper'

In [149]:
x.lower()

'hello'

In [150]:
"mathematics".count("mat")

2

In [151]:
"mathematics".replace("mat", "rat")

'ratheratics'

**Problem:** Write a function `count_zeros` that counts the number of zeros in the given number.

```
>>> count_zeros(0)
1
>>> count_zeros(100)
2
>>> count_zeros(2030405)
3
```

In [155]:
n = 100

In [156]:
n.count(0)

AttributeError: 'int' object has no attribute 'count'

In [157]:
str(n).count(0)

TypeError: must be str, not int

In [158]:
str(n).count("0")

2

In [159]:
def count_zeros(n):
    return str(n).count("0")

In [160]:
count_zeros(0)

1

In [161]:
count_zeros(100)

2

In [162]:
count_zeros(2030405)

3

In [163]:
count_zeros(2**10000)

292

In [165]:
def count_zeros(n):
    # the extra parenthesis is valid, but required
    return (str(n).count("0"))

def count_zeros(n):
    # this is fine too, but usually, 
    # single line is easier to read
    s = str(n)
    return s.count("0")

Let's look at some more intersting methods on strings.

In [166]:
sentence = "Anything that can go wrong, will go wrong."

In [168]:
sentence.split() # split on any whitespace

['Anything', 'that', 'can', 'go', 'wrong,', 'will', 'go', 'wrong.']

In [169]:
sentence.split(",") # split on comma

['Anything that can go wrong', ' will go wrong.']

In [170]:
sentence.split("go") # split on the word go

['Anything that can ', ' wrong, will ', ' wrong.']

The `split` method splits a string based on any delimiter. If no delimiter is provided, it uses any whitespace as the delimiter.

What is the reverse of split?

In [171]:
"-".join(["a", "b", "c"])

'a-b-c'

In [172]:
" ".join(["a", "b", "c"])

'a b c'

In [173]:
"::".join(["a", "b", "c"])

'a::b::c'

**Problem:** Write a function `longest_word` that takes a sentence as argument and returns ther longest word from it.

```
>>> longest_word("one two three four five")
'three'
>>> longest_word("Anything that can go wrong, will go wrong.")
'Anything'
```

In [174]:
sentence = "one two three four five"

In [175]:
sentence.split()

['one', 'two', 'three', 'four', 'five']

In [176]:
words = sentence.split()

In [177]:
words

['one', 'two', 'three', 'four', 'five']

In [178]:
max(words, key=len)

'three'

In [179]:
def longest_word(sentence):
    words = sentence.split()    
    return max(words, key=len)

In [180]:
longest_word("one two three four five")

'three'

In [181]:
longest_word("Anything that can go wrong, will go wrong.")

'Anything'

In [184]:
def longest_word(sentence):
    return max(sentence.split(), key=len)

In [185]:
longest_word("one two three four five")

'three'

### Modules

In [186]:
import time

In [187]:
time.asctime()

'Mon Feb  7 12:53:37 2022'

In [188]:
!date

Mon Feb  7 12:54:13 IST 2022

What does it take to implement the date command using Python?

In [189]:
%%file date.py
import time
print(time.asctime())

Writing date.py

In [190]:
!python date.py

Mon Feb  7 12:54:57 2022

In [191]:
!python date.py

Mon Feb  7 12:55:09 2022

#### The `os` module

In [193]:
import os

In [195]:
# get current #working directory
os.getcwd()

'/Users/anand/trainings/2022/zeomega-python'

In [196]:
# list all files in a directory
os.listdir(".")

['hello.py',
 'Untitled.html',
 'index.html',
 'Untitled.ipynb',
 'Makefile',
 'cat.py',
 'push',
 'notes',
 'day1.html',
 '.ipynb_checkpoints',
 'day1.ipynb',
 'date.py',
 'index.ipynb']

If we want to find size of a file, we can use `os.path.getsize`.

In [197]:
os.path.getsize("day1.html")

764596

In [198]:
!ls -l day1.html

-rw-r--r--  1 anand  staff  764596 Feb  7 12:53 day1.html

how to find the largest file in the current directory?

In [201]:
max(os.listdir("."), key=os.path.getsize)

'day1.html'

In [203]:
!ls -lS

total 3920
-rw-r--r--   1 anand  staff  764596 Feb  7 12:53 day1.html
-rw-r--r--   1 anand  staff  577240 Feb  5 07:40 index.html
-rw-r--r--   1 anand  staff  575899 Feb  7 09:25 Untitled.html
-rw-r--r--   1 anand  staff   60081 Feb  7 12:53 day1.ipynb
-rw-r--r--   1 anand  staff    1751 Feb  5 07:40 index.ipynb
-rw-r--r--   1 anand  staff    1128 Feb  7 09:25 Untitled.ipynb
-rw-r--r--   1 anand  staff     495 Feb  5 06:40 Makefile
drwxr-xr-x  13 anand  staff     416 Feb  7 03:07 notes
-rw-r--r--   1 anand  staff      34 Feb  7 12:54 date.py
-rw-r--r--   1 anand  staff      32 Feb  7 10:58 cat.py
-rw-r--r--   1 anand  staff      15 Feb  7 10:14 hello.py
-rw-r--r--   1 anand  staff       0 Feb  7 12:53 push

#### Reading Command-line arguments

The `sys` module keeps track of all arguments passed to the program.

In [205]:
%%file args.py
import sys
print(sys.argv)

Overwriting args.py

In [206]:
!python args.py

['args.py']

In [207]:
!python args.py hello

['args.py', 'hello']

In [208]:
!python args.py hello workd

['args.py', 'hello', 'workd']

In [209]:
!python args.py 1 2 3 4 5

['args.py', '1', '2', '3', '4', '5']

Notice that the arguments are always strings.

#### Example: echo

In [212]:
!echo hello world

hello world

Let's implement it in Python. For now, we'll print only the first argument.

In [213]:
%%file echo.py
import sys
arg = sys.argv[1]
print(arg)

Writing echo.py

In [214]:
!python echo.py hello

hello

In [215]:
!python echo.py hello world

hello

**Problem:** Write a program `square.py` that takes a number as command-line argument and prints its square.

```
$ python square.py 2
4
$ python square.py 5
25
```

In [216]:
%%file square.py

# FIX ME
print(0)

Writing square.py

In [217]:
!python square.py 2

0

## Q & A

**imax**

Write a function `imax` to compute maximum of given words ignoring the case.

```
>>> imax(['alice', 'Dave', 'charlie', 'BOB'])
'Dave'

>>> imax(['Alice', 'dave', 'charlie', 'BOB'])
'dave'
```

In [219]:
max(['alice', 'Dave', 'charlie', 'BOB'])

'charlie'

In [ ]:
def ignore_case(word):
    ???
    
    
max(['alice', 'Dave', 'charlie', 'BOB'], key=ignore_case)