### Advanced Python Training at ZeOmega - Day 2

Feb 07-11, 2022<br>
09:30 AM - 01:00 PM

[Anand Chitipothu](https://pipal.in/trainers/anand)

These notes are available online at https://bit.ly/zeomega-py22

Â© Pipal Academy LLP

[Home](.) | [Day 1](day1.html) | **Day 2** | [Day 3](day3.html) | [Day 4](day4.html) | [Day 5](day5.html) 

[Download this notebook](day2.ipynb)

## Topics for today

* Conditional Expressions
* If Statement
* Lists
* For Loop
* List Comprehensions
* Sorting Lists
* Working with Files

## Conditional Expressions

In [1]:
True

True

In [2]:
False

False

In [3]:
loadavg = 40

In [4]:
loadavg > 30

True

In [5]:
loadavg < 70

True

In [6]:
loadavg > 70

False

In [7]:
filename = "hello.py"

In [8]:
filename.startswith("hell")

True

In [10]:
filename.endswith(".py")

True

In [11]:
'll' in filename

True

In [12]:
'x' in filename

False

In [13]:
'a' in ['a', 'b', 'c']

True

In [14]:
'a' not in ['a', 'b', 'c']

False

Let's say we want to write a function `is_vowel` to check if the given character is a vowel or not.

In [24]:
def is_vowel(c):
#     return c in ['a', 'e', 'i', 'o', 'u']
    return c in 'aeiou'

In [25]:
is_vowel('x')

False

**Problem:** Write a function `is_python_file` that takes a filename as argument and returns `True` if it is Python file. A python file will have extension `.py`.
    
```
>>> is_python_file("hello.py")
True
>>> is_python_file("hello.java")
False
>>> is_python_file("python.java")
False
>>> is_python_file("Makefile")
False
>>> is_python_file("a.py.gz")
False
>> is_python_file("py")
False
```

In [26]:
# this doesn't work
x = 1
  y = 2 # <---
print(x, y)

IndentationError: unexpected indent (262569544.py, line 3)

In [29]:
def square(x):
    y = x*x
     return y # <---

n = square(4)
print(n)

IndentationError: unexpected indent (593252654.py, line 3)

In [30]:
def square(x):
    y = x*x
return y # <---

n = square(4)
print(n)

SyntaxError: 'return' outside function (1876927489.py, line 3)

In [32]:
def square(x): 
    y = x*x
    return y

n = square(4)
print(n)

16

In [38]:
def is_vowel(char):
    if char == 'a' or 'e' or 'i' or 'o' or 'u' or 'A' or 'E' or 'I' or 'O' or 'U':
        return True
    else:
        return False

In [36]:
'a' or 'e' or 'i' or 'o' or 'u' or 'A' or 'E' or 'I' or 'O' or 'U'

'a'

In [39]:
is_vowel('a')

True

In [40]:
is_vowel('e')

True

In [42]:
char = 'e'
char == 'a' or char == 'e'

True

In [43]:
char in ['a', 'e']

True

In [44]:
char in 'ae'

True

## The `if` statement

In [46]:
n = 33

if n % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [47]:
def check_even(n):
    if n % 2 == 0:
        print("even")
    else:
        print("odd")

In [48]:
check_even(40)

even

In [49]:
check_even(41)

odd

Sometimes we want to check for more conditions.

In [51]:
def check_number(n):
    if n < 10:
        print(n, "is a single digit number")
    elif n < 100:
        print(n, "is a two digit number")
    else:
        print(n, "is a big number")

In [52]:
check_number(5)

5 is a single digit number

In [53]:
check_number(55)

55 is a two digit number

In [54]:
check_number(555)

555 is a big number

In [55]:
min(3, 4)

3

**Problem:** Write a function `minimum` that computes minimum of two numbers without using built-in function `min` or `max`.

```
>>> minimum(3, 7)
3
>>> minimum(33, 7)
7
>>> 1 + minimum(3, 7)
4
>>> 1 + minimum(3, 3)
4
```

**Problem:** Write a function `minimum3` that computes minimum of three numbers. Can you do this using the `minimum` function implementd for the above problem?

```
>>> minimum3(2, 3, 4)
2
>>> minimum3(12, 3, 4)
3
>>> minimum3(12, 13, 4)
4
```

In [64]:
def minimum(x, y):
    if x < y:
        return x
    else:
        return y

In [65]:
minimum(3, 4)

3

In [66]:
1 + minimum(3, 7)

4

In [67]:
1 + minimum(3, 3)

4

In [68]:
def minimum3(x, y, z):
    if x < y and x < z:
        return x
    elif y < x and y < z:
        return y
    else:
        return z

In [70]:
minimum3(3, 4, 5)

3

In [71]:
minimum3(13, 4, 5)

4

In [72]:
def minimum3(x, y, z):
    if minimum(x, y) < z:
        return minimum(x, y)
    else:
        return z

In [ ]:
def minimum(x, y):
    if x < y:
        return x
    else:
        return y

In [73]:
def minimum3(x, y, z):
#     xy = minimum(x, y)
#     return minimum(xy, z)
    return minimum(minimum(x, y), z)

In [74]:
minimum3(3, 4, 5)

3

In [75]:
minimum3(13, 4, 5)

4

In [76]:
minimum3(13, 14, 5)

5

In [77]:
def minimum4(a, b, c, d):
    return minimum(
        minimum(a, b), 
        minimum(c, d))

## Lists

In [78]:
x = ["a", "b", "c", "d"]

In [79]:
x

['a', 'b', 'c', 'd']

In [80]:
len(x)

4

In [81]:
x[0]

'a'

In [82]:
x[1]

'b'

In [83]:
x[0] = 'aa'

In [84]:
x

['aa', 'b', 'c', 'd']

### For loop

The `for` loop is used to iterate over a list of elements.

In [85]:
names = ["alice", "bob", "charlie", "dave"]

In [86]:
for name in names:
    print("hello", name)

hello alice
hello bob
hello charlie
hello dave

In [87]:
def welcome_all(names):
    for name in names:
        print("Hello", name)

In [88]:
welcome_all(names)

Hello alice
Hello bob
Hello charlie
Hello dave

How to print each word of a sentence in a separate line?

In [89]:
sentence = "when in doubt, use brute force"

In [127]:
words = sentence.split()

In [128]:
words

['when', 'in', 'doubt,', 'use', 'brute', 'force']

In [129]:
for word in words:
    print(word)

when
in
doubt,
use
brute
force

In [93]:
for word in sentence.split():
    print(word)

when
in
doubt,
use
brute
force

In [95]:
names = ['a', 'b', 'c', 'd']

In [96]:
names

['a', 'b', 'c', 'd']

In [97]:
for name in names:
    print(name)

a
b
c
d

In [98]:
sentence

'when in doubt, use brute force'

In [99]:
sentence.split()

['when', 'in', 'doubt,', 'use', 'brute', 'force']

In [100]:
sentence.split(",")

['when in doubt', ' use brute force']

In [101]:
!ls -1

Makefile
Untitled.html
Untitled.ipynb
Untitled1.html
args.py
cat.py
date.py
day1.html
day1.ipynb
day2.html
day2.ipynb
echo.py
hello.py
index.html
index.ipynb
notes
push
square.py

**Problem:** Write a program `ls.py` that takes path to a directory as a command-line argument and prints all the files in that directory. The output should have one filename per line.


```
$ python ls.py .
day1.ipynb
day1.html
day2.ipynb
day1.html
square.py

$ mkdir files
$ touch files/a.txt files/b.txt
$ python ls.py files
a.txt
b.txt
```

Hint: use `os.listdir`

In [102]:
import os

In [103]:
os.listdir(".")

['hello.py',
 'Untitled.html',
 'index.html',
 'Untitled.ipynb',
 'Makefile',
 'cat.py',
 'day2.html',
 'Untitled1.html',
 'push',
 'day2.ipynb',
 'notes',
 'day1.html',
 'args.py',
 '.ipynb_checkpoints',
 'square.py',
 'day1.ipynb',
 'echo.py',
 'date.py',
 'index.ipynb']

**Problem:** Improve the above program to print the files in the current directory when no arguments are provided.

```
$ python ls.py
day1.html
day1.ipynb
day2.html
day2.ipynb
...

$ mkdir files
$ touch files/a.txt files/b.txt
$ python ls.py files
a.txt
b.txt
```

In [110]:
%%file echo.py 
import sys
arg = sys.argv[1]
print(arg)

Overwriting echo.py

In [111]:
!python echo.py hello

hello

In [112]:
!mkdir files

In [113]:
!touch files/a.txt files/b.txt

In [114]:
!ls files

a.txt b.txt

In [116]:
!ls -1 .

Makefile
Untitled.html
Untitled.ipynb
Untitled1.html
args.py
cat.py
date.py
day1.html
day1.ipynb
day2.html
day2.ipynb
echo.py
files
hello.py
index.html
index.ipynb
notes
push
square.py

In [117]:
!ls -1

Makefile
Untitled.html
Untitled.ipynb
Untitled1.html
args.py
cat.py
date.py
day1.html
day1.ipynb
day2.html
day2.ipynb
echo.py
files
hello.py
index.html
index.ipynb
notes
push
square.py

In [122]:
%%file ls.py
import sys
path = sys.argv[1]
print("TODO: contents of directory", path)

Overwriting ls.py

In [123]:
!python ls.py files

TODO: contents of directory files

In [124]:
!python ls.py .

TODO: contents of directory .

In [125]:
!python ls.py

Traceback (most recent call last):
  File "/Users/anand/trainings/2022/zeomega-python/ls.py", line 2, in <module>
    path = sys.argv[1]
IndexError: list index out of range

In [130]:
!cat args.py

import sys
print(sys.argv)

In [131]:
!python args.py hello

['args.py', 'hello']

In [132]:
!python args.py hello world

['args.py', 'hello', 'world']

In [133]:
!python args.py

['args.py']

In [149]:
%%file args2.py
import sys
print(sys.argv)
# n = len(sys.argv)-1
# print("provided", n, "arguments")

# if n > 0:
#     print("argument provided")
# else:
#     print("no argument provided")

if len(sys.argv) > 1:
    print("argument provided")
else:
    print("no argument provided")

Overwriting args2.py

In [150]:
!python args2.py hello

['args2.py', 'hello']
argument provided

In [151]:
!python args2.py

['args2.py']
no argument provided

**range**

The `range` is used to create a sequence of numbers.

In [152]:
for i in range(5):
    print(i)

0
1
2
3
4

In [153]:
range(5) # numbers from 0 to 4 (n-1, the number n is not included)

range(0, 5)

In [154]:
list(range(5))

[0, 1, 2, 3, 4]

In [155]:
list(range(2, 5)) # number from 2 to 4

[2, 3, 4]

In [156]:
list(range(2, 20, 3)) # number from 2 to 20 in steps of 3

[2, 5, 8, 11, 14, 17]

Let's say we want to print a message n times.

In [157]:
for i in range(3):
    print("hello")

hello
hello
hello

Python has a built-in function `sum`.

In [159]:
sum([1, 2, 3, 4])

10

In [160]:
sum(range(100))

4950

In [161]:
sum(range(1000000))

499999500000

Let's try to implement our own sum function.

In [162]:
def my_sum(numbers):
    # initialize the result to the initial value
    result = 0

    # update the result in every iteration of the loop
    for n in numbers:
        result = result + n
        
    # finally, return the result 
    return result

In [163]:
my_sum([1, 2, 3, 4])

10

In [164]:
my_sum(range(100))

4950

In [166]:
# this is incorrect
def my_sum(numbers):
    print("begin")
    result = 0
    for n in numbers:
        print("loop", n)
        result = result + n
        return result
    print("end")

    
my_sum([1, 2, 3, 4]) # what will be the output of this?

begin
loop 1

1

**Problem:** Write a function `product` to compute product of given numbers.

```
>>> product([1, 2, 3, 4])
24
>>> product([2, 3])
6
```

**Problem:** Can you implement a function `factorial` to compute factorial of a number using the above `product` function?

Factorial is defined as:
`factorial(n) = 1*2*3...*n`

```
>>> factorial(1)
1
>>> factorial(4)
24
>>> factorial(5)
120
```

### Modifying and Growing Lists

In [173]:
x = ['a', 'b', 'c', 'd']

In [174]:
x[0] = 'aa'

In [175]:
x

['aa', 'b', 'c', 'd']

How to add a new element to a list?

In [176]:
x.append('e') # this modified the list in-place. nothing is returned

In [177]:
x

['aa', 'b', 'c', 'd', 'e']

#### Example: squares

Let's write a function `squares`, that takes a list of numbers as argument and computes squares of each one of them.

```
>>> squares([1, 2, 3, 4])
[1, 4, 9, 16]
>>> squares([2, 3])
[4, 9]
```

In [178]:
def squares(numbers):
    result = []
    for n in numbers:
        result.append(n*n)
    return result
    
squares([1, 2, 3, 4])

[1, 4, 9, 16]

In [179]:
squares(range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [180]:
sum(squares(range(1000000)))

333332833333500000

**Problem:** Write a function `evens` that takes a list of numbers as argument and returns a new list containing only the even numbers out of it.

```
>>> evens([1, 2, 3, 4, 5, 6])
[2, 4, 6]
```

In [184]:
def evens(numbers):
    result = []
    for n in numbers:
        if n % 2 == 0:
            result.append(n)
    return result

In [185]:
evens([1, 2, 3, 4, 5, 6])

[2, 4, 6]

### List Comprehensions

List comprehensions are very expressive way to transform a list into another.

In [187]:
numbers = [1, 2, 3, 4, 5, 6]

In [188]:
[n*n for n in numbers]

[1, 4, 9, 16, 25, 36]

In [189]:
[n*n for n in numbers if n %2 == 0]

[4, 16, 36]

In [192]:
# sum of squares of all even numbers below one million
sum([n*n for n in range(1000000) if n % 2 == 0])

166666166667000000

Let's try to understand the pattern clearly:

    [expr for a_var in a_list]
    [expr for a_var in a_list if some_condition]
   
Let's see the same as for loop:

```
result = []
for a_var in a_list:
    result.append(expr)

result = []
for a_var in a_list:
    if some_condition:
        result.append(expr)
```

How to find all the python files in the current directory?

In [193]:
import os

In [195]:
[f for f in os.listdir(".") if f.endswith(".py")]

['hello.py',
 'cat.py',
 'ls.py',
 'args.py',
 'square.py',
 'echo.py',
 'date.py',
 'args2.py']

How to find the total size of all the python files in the current directory?

In [196]:
[os.path.getsize(f) for f in os.listdir(".") if f.endswith(".py")]

[15, 32, 73, 27, 19, 40, 34, 269]

In [198]:
sum([os.path.getsize(f) for f in os.listdir(".") if f.endswith(".py")])

509

**Problem:** Write a function `vowel_count` that takes any text as argument and returns the number of vowels it has.

```
>>> vowel_count("python")
1
>>> vowel_count("when in doubt, use brute force")
10
```

In [199]:
for c in "python":
    print(c)

p
y
t
h
o
n

### List comprehensions - recap

In [203]:
def squares(numbers):
    result = []
    for n in numbers:
        result.append(n*n)
    return result

In [204]:
squares([1, 2, 3, 4])

[1, 4, 9, 16]

List comprehensions are used to generate new lists.

In [205]:
[n*n for n in numbers]

[1, 4, 9, 16, 25, 36]

In [207]:
# name and marks for every student
records = [
    ("A", 98),
    ("B", 56),
    ("C", 78)
]

How to find the average marks of all the students?

In [208]:
total = 0
for r in records:
    total = total + r[1]
avg = total / len(records)
print(avg)

77.33333333333333

In [209]:
[r[1] for r in records]

[98, 56, 78]

In [210]:
sum([r[1] for r in records])

232

In [211]:
sum([r[1] for r in records]) / len(records)

77.33333333333333

In [212]:
def vowel_count(text):
    vowels = [c for c in text.lower() if c in 'aeiou']
    return len(vowels)

In [213]:
vowel_count("python")

1

In [214]:
vowel_count("when in doubt, use brute force")

10

How to find average word length in the given sentence.

In [215]:
def average(numbers):
    return sum(numbers) / len(numbers)

In [216]:
sentence = "when in doubt, use brute force"
average([len(w) for w in sentence.split()])

4.166666666666667

In [217]:
# traditional approach
total = 0
words = sentence.split()
for w in words:
    total = total + len(w)
avg = total / len(words)
print(avg)

4.166666666666667

How to compute average vowels per word in a sentence?

In [218]:
average([vowel_count(w) for w in sentence.split()])

1.6666666666666667

**Q:** clarificatin about triplets.
    
Write a function triplets that takes a number n as argument and returns a list of triplets such that sum of first two elements of the triplet equals the third element using numbers below n. Please note that (a, b, c) and (b, a, c) represent the same triplet.

The exepected answer is:

```
>>> triplets(5)
[(1, 1, 2), (1, 2, 3), (1, 3, 4), (2, 2, 4)]
```

Not this:
```
>>> triplets(5)
[(1, 1, 2), (1, 2, 3), (2, 1, 3), (1, 3, 4), (3, 1, 4), (2, 2, 4)]
```

### Iteration Patterns

**Iterating over a list**

In [219]:
x = ['a', 'b', 'c', 'd']

In [220]:
for a in x:
    print(a, a.upper())

a A
b B
c C
d D

In [221]:
[a.upper() for a in x]

['A', 'B', 'C', 'D']

**Iterate over a sequence of numbers**

In [222]:
for i in range(5):
    print(i, i*i)

0 0
1 1
2 4
3 9
4 16

In [223]:
[i*i for i in range(5)]

[0, 1, 4, 9, 16]

**Iterating over two lists at the same time**

In [224]:
names = ['A', 'B', 'C', 'D']
scores = [10, 20, 30, 40]

In [226]:
for name, score in names, scores:
        print(name, score)

ValueError: too many values to unpack (expected 2)

In [227]:
for x in names, scores:
    print(x)

['A', 'B', 'C', 'D']
[10, 20, 30, 40]

In [228]:
for i in range(len(names)):
    print(names[i], scores[i])

A 10
B 20
C 30
D 40

In [229]:
for x in zip(names, scores):
    print(x)

('A', 10)
('B', 20)
('C', 30)
('D', 40)

In [230]:
for name, score in zip(names, scores):
    print(name, score)

A 10
B 20
C 30
D 40

**Problem:** write a function `vector_add` to add two vectors.
    
```    
>>> vector_add([1, 2, 3, 4], [10, 20, 30, 40])
[11, 22, 33, 44]
```

**Iterating over the index and the elements together**

In [233]:
chapters = [
    "Getting Started",
    "Functions",
    "Lists",
    "Dictionaries"
]

How to print chapter number and title together?

In [234]:
for i, title in enumerate(chapters):
    print(i, title)

0 Getting Started
1 Functions
2 Lists
3 Dictionaries

In [236]:
for i, title in enumerate(chapters):
    print("Chapter", i+1, title)

Chapter 1 Getting Started
Chapter 2 Functions
Chapter 3 Lists
Chapter 4 Dictionaries

In [238]:
for i, title in enumerate(chapters):
    print(f"Chapter {i+1}: {title}")

Chapter 1: Getting Started
Chapter 2: Functions
Chapter 3: Lists
Chapter 4: Dictionaries

In [239]:
for i, title in enumerate(chapters, start=1):
    print(f"Chapter {i}: {title}")

Chapter 1: Getting Started
Chapter 2: Functions
Chapter 3: Lists
Chapter 4: Dictionaries

### List Indexing

In [240]:
x = ['a', 'b', 'c', 'd']

In [241]:
x[0]

'a'

How to get the last element?

In [242]:
x[-1] # last element

'd'

```
+----+----+----+----+
|  a |  b |  c |  d |
+----+----+----+----+
|  0 |  1 |  2 |  3 | --> regular index
+----+----+----+----+
| -4 | -3 | -2 | -1 | <-- negative index
+----+----+----+----+
```

In [243]:
def get_last_word(sentence):
    return sentence.split()[-1]

In [244]:
get_last_word("one two three")

'three'

### List Slicing

In [245]:
x = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [246]:
x[0:2] # from index 0 unto index 2 (end is not included)

['a', 'b']

In [247]:
x[:2] # upto index 2

['a', 'b']

In [248]:
x[1:6] # from index 1 upto 6

['b', 'c', 'd', 'e', 'f']

In [249]:
x[2:] # from index 2 onwards

['c', 'd', 'e', 'f', 'g', 'h']

How to take alternative elements?

In [250]:
x[1:6:2] # from index 1 upto 6, take every 2nd element

['b', 'd', 'f']

In [251]:
x[:-1] # all except the last element

['a', 'b', 'c', 'd', 'e', 'f', 'g']

How to get the last two elements?

In [252]:
x[-2:]

['g', 'h']

In [253]:
x[:] # copy of x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

how to get the list in reverse order?

In [254]:
x[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

#### Example: echo v2

We've written an echo.py that printed only the first argument. Let's improve that to print all the arguments.

In [258]:
%%file echo2.py
import sys

args = sys.argv[1:]
print(" ".join(args))

Overwriting echo2.py

In [259]:
!python echo2.py hello world

hello world

In [257]:
!echo hello world

hello world

#### Sorting Lists

In [260]:
names = ["alice", "dave", "charlie", "bob"]

In [261]:
names.sort() # sorts in-place

In [262]:
names

['alice', 'bob', 'charlie', 'dave']

In [263]:
names = ["alice", "dave", "charlie", "bob"]

In [265]:
# returns a new sorted list, without modifying the original
sorted(names)

['alice', 'bob', 'charlie', 'dave']

In [266]:
sorted(names, key=len)

['bob', 'dave', 'alice', 'charlie']

In [270]:
sorted(names, key=len, reverse=True)

['charlie', 'alice', 'dave', 'bob']

Let's list all files in a directory sorted by size.

In [271]:
!ls -lS

total 6936
-rw-r--r--   1 anand  staff  813950 Feb  8 16:56 day2.html
-rw-r--r--   1 anand  staff  799312 Feb  8 09:37 day1.html
-rw-r--r--   1 anand  staff  577240 Feb  5 07:40 index.html
-rw-r--r--   1 anand  staff  575955 Feb  8 09:31 Untitled1.html
-rw-r--r--   1 anand  staff  575899 Feb  7 09:25 Untitled.html
-rw-r--r--   1 anand  staff   74983 Feb  8 16:56 day2.ipynb
-rw-r--r--   1 anand  staff   71390 Feb  8 09:37 day1.ipynb
-rw-r--r--   1 anand  staff    1751 Feb  5 07:40 index.ipynb
-rw-r--r--   1 anand  staff    1128 Feb  7 09:25 Untitled.ipynb
-rw-r--r--   1 anand  staff     495 Feb  5 06:40 Makefile
drwxr-xr-x  13 anand  staff     416 Feb  7 03:07 notes
-rw-r--r--   1 anand  staff     269 Feb  8 11:52 args2.py
drwxr-xr-x   4 anand  staff     128 Feb  8 11:40 files
-rw-r--r--   1 anand  staff      73 Feb  8 11:43 ls.py
-rw-r--r--   1 anand  staff      54 Feb  8 16:53 echo2.py
-rw-r--r--   1 anand  staff      40 Feb  8 11:31 echo.py
-rw-r--r--   1 anand  staff      34 Feb  7 12:54 date.py
-rw-r--r--   1 anand  staff      32 Feb  7 10:58 cat.py
-rw-r--r--   1 anand  staff      27 Feb  7 13:01 args.py
-rw-r--r--   1 anand  staff      19 Feb  7 13:05 square.py
-rw-r--r--   1 anand  staff      15 Feb  7 10:14 hello.py
-rw-r--r--   1 anand  staff       0 Feb  8 16:56 push

In [272]:
import os

In [273]:
files = os.listdir(".")

In [276]:
for f in sorted(files, key=os.path.getsize, reverse=True):
    print(f)

day2.html
day1.html
index.html
Untitled1.html
Untitled.html
day2.ipynb
day1.ipynb
index.ipynb
Untitled.ipynb
Makefile
notes
args2.py
.ipynb_checkpoints
files
ls.py
echo2.py
echo.py
date.py
cat.py
args.py
square.py
hello.py
push

How to find the top 5 largest files in the current directory?

In [277]:
files = os.listdir(".")
sorted(files, key=os.path.getsize, reverse=True)[:5]

['day2.html', 'day1.html', 'index.html', 'Untitled1.html', 'Untitled.html']

How to find the top 3 largest python files in the current directory?

In [278]:
["a.py", "b.c"].endswith(".py")

AttributeError: 'list' object has no attribute 'endswith'

In [283]:
files = os.listdir(".")

In [284]:
top_files = sorted(files, key=os.path.getsize, reverse=True)

In [285]:
result = []
for f in top_files:
    if f.endswith(".py"):
        result.append(f)

In [288]:
result = [f for f in top_files if f.endswith(".py")]

In [289]:
result[:3]

['args2.py', 'ls.py', 'echo2.py']

In [290]:
files = [f for f in os.listdir(".") if f.endswith(".py")]

In [291]:
files

['hello.py',
 'cat.py',
 'ls.py',
 'echo2.py',
 'args.py',
 'square.py',
 'echo.py',
 'date.py',
 'args2.py']

In [292]:
sorted(files, key=os.path.getsize, reverse=True)[:3]

['args2.py', 'ls.py', 'echo2.py']